body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-accent: #bc575f;
  --c-grey-light: #a0a0a0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.textStyleMain {
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-transform: uppercase;
}

.textStyleSmall {
  color: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.fontBody {
  font-family: "Montserrat","Roboto",sans-serif;
}

.fontHeading {
  font-family: "Prosto One","Roboto",serif;
}

a.textStyleMain:hover {
  color: var(--c-info);
}

.divider {
  margin: 20px;
  border-top: 1px solid var(--c-grey-light);
}
